@media (max-width: 1120px ){
    html{
        font-size: 54%;
    }

    .intro-img{
        max-width: 200px;
        width: 80%;
    }

    .img-about, .img-portfolio{
        max-width: 200px;
    }

    .arrow-icon{
        height: 28px;
    }

    .card{
        padding: 8px;
    }

    /* ------------ About Page ------------ */
    .swiper{
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 25px;
        overflow: hidden;
    }

}

@media (max-width: 992px ){
    html{
        font-size: 48%;
    }

    :root{
        --text-h4: 3rem;
        --text-md: 1.8rem;
    }
    
    .img-about, .img-portfolio{
        /* max-width: 150px; */
        width: 100%;
    }

    .arrow-icon{
        height: 24px;
    }

    .intro-img{
        max-width: 140px;
        width: 80%;
    }

    /* ------------ About Page ------------ */
    .review-card-headings{
        gap: 15px;
    }

    .review-icon{
        width: 110px;
    }

    /* ------------ Service Page ------------ */
    .service-heading{
        margin-bottom: -36px;
    }

    /* ------------ Contact Page ------------ */
    .contact-section{
        flex-direction: column;
    }

    .contact-content{
        width: 100%;
    }

    .contact-heading{
        margin-bottom: -18px;
    }

    .contact-form{
        padding: 20px;
    }

    .contact-details{
        flex-direction: row;
        gap: 20px;
        margin-top: 0px;
    }

    .card-contact, .card-social{
        width: 50%;
        padding: 20px;
    }
}

@media (max-width: 786px ){
    :root{
        --text-h1: 7.2rem;
        --text-h3: 2.5rem;
        --text-h4: 2rem;
        --text-h5: 1.9rem;
    }

    header{
        margin-bottom: 3rem;
    }

    .nav-logo{
        max-width: 60px;
    }

    .menu-item{
        display: none;
    }

    .menu-icon-mobile{
        display: block;
    }


    .intro-section{
        flex-direction: column;
    }

    .card-intro{
        width: 100%;
    }

    .intro-right{
        flex-direction: row-reverse;
    }

    .card-waitlist{
        flex-direction: column;
    }

    .card-waitlist p{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        align-self: center;
        text-align: center;
    }

    .img-about, .img-portfolio{
        max-width: none;
        width: 100%;
    }

    .service-section{
        flex-direction: column;
    }

    .card-services{
        width: 100%;
    }

    .view-all-services{
        display: none;
    }

    .view-all-services-mobile{
        display: flex;
    }

    .services{
        gap: 6px;
        overflow: scroll;
    }

    .service-icons{
        max-width: none;
        width: 100%;
        display: grid;
    }

    .intro-service01, .intro-service02, .intro-service03, .intro-service04, .intro-service05{
        min-width: 92px;
    }

    .card-socials{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .social-icons-group{
        gap:20px
    }

    .cta-left{
        gap:6px
    }

    /* ------------ About Page ------------ */

    .about-heading{
        margin-bottom: -14px;
    }

    .about-me-photo{
        top: 0px;
    }

    .card-software, .card-resume{
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }

    .swiper{
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
    }

    .review-icon{
        width: 80px;
    }

    .review-card-headings{
        gap: 10px;
    }

    .review-card-content p{
        font-size: 1.8rem;
    }

    .review-card-headings{
        grid-column: 1/4;
        grid-row: 1/2;
    }

    .review-img{
        grid-column: 3/4;
        grid-row: 2/3;
    }

    .review-client-details p:first-child{
        font-size: 1.6rem;
        font-weight: 700;
        color: var(--primary-dark);
        margin-bottom: 4px;
    }

    .swiper-button-next, .swiper-button-prev{
        display: none;
    }

        /* ------------ Service Page ------------ */
        .service-menu{
            display: none;
        }
    
        .service-details{
            width: 100%;
        }
    
        .service-heading{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 0px;
            padding-right: 10px;
            margin-bottom: -20px;
        }
    
        .back-arrow-mobile{
            display: block;
            max-width: 52px;
            width: 100%;
        }
    
        .card-service-details{
            padding: 20px;
        }
    
        .portrait-types{
            width: 100%;
            gap: 10px;
            overflow: scroll;
        }
    
        .card-headshot{
            min-width: 150px;
            max-height: none;
            justify-content: start;
            gap: 4px;
        }

        .book-type-img-gra{
            max-width: 110px;
        }

    /* ------------ Contact Page ------------ */

    .card-contact, .card-social{
        width: 50%;
        padding: 20px;
    }
    
    
}

@media (max-width: 482px ){
    :root{
        --text-h1: 5.4rem;
        --text-h3: 2.8rem;
        --text-h4: 2.5rem;
        --text-h5: 1.8rem
    }

    .intro-right{
        flex-direction: column;
    }

    .card-waitlist{
        flex-direction: row;
    }

    .card-waitlist p, .card-waitlist .btn{
        text-align: left;
    }

    .cta-section{
        flex-direction: column;
    }

    .cta-left, .card-cta{
        width: 100%;
    }

    .arrow-icon{
        height: 20px;
    }

    .card-cta{
        padding: 20px;
    }

    .card-exp, .card-client, .card-projects{
        height: 100px
    }

    .card-socials{
        padding: 10px 20px;
    }

    .social-icon{
        width: 32px;
    }

    .social-icons-group{
        gap: 6px;
    }

    /* ------------ About Page ------------ */

    .about-me-intro-card{
        grid-template-rows: 62px auto;
    }

    .about-me-photo{
        padding: 4px 4px 16px 4px;
        top: -40px;
        grid-row: 1/2;
    }

    .about-me-content{
        grid-column: 1/4;
        padding-left: 20px;
        margin-bottom: 10px;
    }

    .skill-section{
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
    }

    .card-software, .card-resume{
        width: 100%;
        flex-direction: row;
        align-items: center;
    }

    .software-icons{
        gap: 4px;
    }

    .software-icon{
        max-width: 32px;
    }

    .review-card{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        row-gap: 10px;
        padding-bottom: 10px;
    }

    .review-card-headings{
        grid-column: 1/5;
    }

    .review-card-content{
        grid-column: 1/5;
        grid-row: 2;
        min-height: 150px;
        padding: 20px;
    }

    .review-card-content p{
        line-height: 172%;
    }

    .quotes-img{
        width: 80px;
        right: 10px;
        bottom: 5px;
    }

    .review-img{
        grid-row: 3;
        grid-column: 3/5;
        justify-self: end;
    }

    .review-project-img{
        max-width: 142px;
    }

    .review-client{
        grid-row: 3;
        grid-column: 1/3;
        align-items: center;
        justify-content: center;
        padding-left: 10px;
    }

    .client-photo{
        max-width: 52px;
    }

    /* ------------ Service Page ------------ */
    .portrait-types{
        flex-direction: column;
        width: 100%;
    }

    .card-headshot{
        width: 100%;
    }

    .card-covertype{
        width: 100%;
    }

    .book-type-img-gra{
        max-width: 150px;
    }

    /* ------------ Contact page ------------ */

    .contact-heading{
        margin-bottom: -10px;
    }

    .form-usertype, .form-username, .form-ighandle, .form-email{
        flex-direction: column;
        gap: 10px;
        align-items: start;
    }

    .radio-btn{
        font-size: 12px;
    }

    input[type="text"], input[type="email"]{
        font-size: 12px;;
    }

    .contact-details{
        flex-direction: column;
    }

    .card-contact, .card-social{
        width: 100%;
    }



    
}













